.price-section {
    margin: 3em 0;
  }

.body-grid {
    margin-top: 40px;
}
  
  .price-content {
    grid-column: 2;
    text-align: center;
    margin-bottom: 2em;
  }
  
  .price-title {
    font-size: 2rem;
    margin-bottom: 0.3em;
    font-weight: bold;
 }
  
  .price-subtitle {
    font-size: 1.1rem;
    margin-bottom: 2em;
    color: #666;
  }
  
  .price-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .price-img {
    max-width: 100%;
    height: auto;
    width: 430px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    cursor: zoom-in;
  }
  
  .price-img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  }
  
  @media (max-width: 768px) {
    .price-img {
      width: 90%;
    }
  }
  .promo-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
  }
  
  .promo-modal-content {
    position: relative;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  
  .promo-modal-content img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
  }
  
  
  
  .close-btn {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  
  
  